

.slide_cont {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.slide_main_cont{
  width:90%;
 
}

.card{
  --bs-card-border-radius:none;
  --bs-card-border-width: 0px;
  margin-bottom:20px;
}
.card-top{
  width:100%;
}
.card-top img{
  width:150px;
}
 
 
.slick-slide {
  margin: 0 px;
  padding: 0px 10px;
}
.slick-list {
  margin: 0 -10px;
}
.slick-prev:before, .slick-next:before {
  color: black !important;
}

@media(max-width:700px){
  .slide_main_cont{
    width:85%;
   
  }
  .card-top img{
    width:100px;
  }
  .card{
    margin-bottom:10px;
  }
  .w-100 {
    height: 182px;
}
   
}