.slide_main_cont{
  display: flex;
  justify-content: center;
  justify-content: center;
  margin-left: 10px;
}
.slide_cont{
  width: 92% ;
}


.slick-slide img{
  width: 90%;
}

@media(min-width:1000px){
  .slick-slide img{
      width: 65%;
    }
   
}
