.carousel_cont {
    width: 100%;
    display: flex;
    justify-content: center;
}
.carousel {
    width: 100%;
}
.slick-dots li.slick-active button:before {
    margin-top: -16px;
}

.slick-dots li button:before {
    margin-top: -16px;
}
 
 




@media (max-width:600px) {
    .carousel_cont {
        margin-top: 0px;
    }
    .carousel_cont .w-100 {
        width: 100%!important;
        height: 250px;
    }
    
}